<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991688013982-a0jhudtfn9s682u639e5ormm9u350ln3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991688013982-a0jhudtfn9s682u639e5ormm9u350ln3</string>
	<key>API_KEY</key>
	<string>AIzaSyCzc0sqeYKW0iVN9b1K5x4CtQ533o8FM9M</string>
	<key>GCM_SENDER_ID</key>
	<string>991688013982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladvelik.LeisurioApp</string>
	<key>PROJECT_ID</key>
	<string>leisurioapp</string>
	<key>STORAGE_BUCKET</key>
	<string>leisurioapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991688013982:ios:d11d517f531b152712638f</string>
</dict>
</plist>